.header{
    height: 7vh;
    background-color: var(--theme);;
}
.footer{
    height: 10vh;
    background-color:  var(--theme);;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.contactUs{
    color: white;
}
.footer-filler{
    height: 7vw;
}